/* Add your CSS styles here */

*{
  font-family: "Inter", sans-serif;
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}
.toggle-btn img {
    width: 20px;
    cursor: pointer;
}
.delete-btn img {
    width: 20px;
    cursor: pointer;
}
.one >h1{
  text-align: center;
  font-size: 50px;
}
#name{
  width: 40%;
  flex-wrap: 2;
  height: 38px;
  padding: 0px 20px;
  border: 2px solid black;
}
#addItemForm{
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
#date{
  width: 20%;
  align-items: center;
  padding: 0px 20px;
  height: 38px;
  border: 2px solid black;
}

#priority{
  width: 20%;
  align-items: center;
  padding: 0px 20px;
  height: 41px;
  border: 2px solid black;
}

.olly{
  padding-left: 10px;
}
#btn{
  width: 12%;
  padding: 5px;
  height: 41px;
  background-color: black;
  color: white;
}

.list{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    width: 95vw;
    height:8vh;
    padding: 5px;
    align-items: center;
    border: 1px solid white;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
}

ol {
    list-style: none;
    counter-reset: my-counter; /* Reset the counter */
  }

  .start::before {
    counter-increment: my-counter; 
    content: counter(my-counter) ". "; 
    margin-right: 0.5em; 
    color: white; 
    
  }
  .end{
    display: inline-block;
    width:150px;
    text-align: right;
  }

  .start1{
    width:150px;
  }
  .end2{
    width:150px;
  }

  .start{
    width:150px;

  }

  .completed {
    display: flex;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    justify-content: space-between;
    width: 95vw;
    height:8vh;
    align-items: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
}

.completed >  .start::before {
  counter-increment: my-counter; 
  content: counter(my-counter) ". "; 
  margin-right: 0.5em; 
  color: black; 
  
}
ol{
  padding-left: 0px;
  width: 100%;
}
ol > li{
  width: 100%;
}
.futurepast{
  border: 3px solid red;
  background-color: black;
  color: white;
  display: flex;
  /* background-color: red; */
}


.end > img{ margin-left: 15px;}

@media screen and (max-width: 887px) {
  .completed {
    width: 93vw;
  }
  .list{
    width: 93vw;
  } 
}

@media screen and (max-width: 676px) {
  .olly{
    font-size: 14px;
  }
  #addItemForm{
    flex-direction: column;
  }
  .completed {
    width: 90vw;
  }
  .list{
    width: 90vw;
  } 

  #name{
    width: 92%;
  }
  #date{
    width: 92%;
  }
  #priority{
    width: 50%;
    align-items: center;

  }  
  #btn{
   width: 50%;
  }

}